<% form_for :area, @area, :url => {:action => 'update', :id => @area}  do |f| %>
<%= f.text_field  :area_name, {:size => 50}  %></p>

<%= submit_tag "Сохранить" %>
<% end %>
<%= link_to 'Назад', {:action => 'list'} %>
